<%= render "layouts/list_header" %>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <div class="widget">
        <div class="widget-header">
          <h4>Organisation</h4>
        </div>
        <div class="widget-body help-content">
          <ul>
            <li>
              <strong>Organisations</strong> are formal or informal groups of people with the motive to help Earthquake victims.
            </li> 
            <li>
              A group has one or more contact person. 
            </li>
            <li>
              It has one or more resources that are represented as <strong>Items</strong>.
            </li>
            <li>
              The system contains the Name and location of all registered organisations.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-header">
        <h4>Items</h4>
      </div>
      <div class="widget-body help-content">
        <ul>
          <li>
            Item can be a <strong>Physical Item</strong> such as tents, food, medicine or a <strong>Human Resource</strong> such as Doctor, Nurse, Construction Worker etc.
          </li>
          <li>
            The system stores the name, type, quantity, status etc of the <strong>Items</strong> stored by <strong>Organizations</strong>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="row">
      <div class="widget">
        <div class="widget-header">
          <h4>Sites</h4>
        </div>
        <div class="widget-body help-content">
          <ul>
            <li>
              <strong>Sites</strong> are places that are affected by the earthquake. 
            </li> 
            <li>
              A site has a <strong>population</strong> classified into three types <strong>Safe</strong>, <strong>Injured</strong> and <strong>Dead</strong>.
            </li>
            <li>
              A site has one or more <strong>Contact Person</strong>. 
            </li>
            <li>
              It has a list of resources needed by it's population that are represented as <strong>Needed Items</strong> in the system.
            </li>
            <li>
              The <strong>priority</strong> of a Site is decided mostly by the injured count. This is subject to change.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="widget">
      <div class="widget-header">
        <h4>Needed Items</h4>
      </div>
      <div class="widget-body help-content">
        <ul>
          <li>
            Needed Item can be a <strong>Physical Item</strong> such as tents, food, medicine or a <strong>Human Resource</strong> such as Doctor, Nurse, Construction Worker etc.
          </li>
          <li>
            The system stores the name, type, quantity, status etc of the <strong>Items Needed</strong>.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>