<% show_class = {"items" => "glyphicon-gift", "organizations" => "glyphicon-th", "news" => "glyphicon-bullhorn",
                 "sites" => "glyphicon-globe", "contact_people" => "glyphicon-user", "needed_items" => "glyphicon-flag"} %>
<div id="sidebar-wrapper" data-no-turbolink="true">
  <ul class="sidebar">
    <li class="sidebar-main">
      <a href="#" onclick="toggleSidebar()">
        <span>Earthquake Data</span><span class="pull-right menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-list">
      <a href="/dashboard" class="<%= ( 'dashboard' == params[:controller])? 'active' : '' %>">Dashboard<span class="pull-right glyphicon glyphicon-home"></span></a>
    </li>
    <% show_class.each do |model,icon| %>
      <% active_class = (model == params[:controller])? "active" : "" %>
          <li class="sidebar-list">
            <div>
            <%= link_to model.capitalize.classify.constantize, :class => active_class do %>
              <%= model.titleize %> <span class="glyphicon pull-right <%= icon %>"></span>
            <% end %>
            </div>
          </li>
    <% end %>
  </ul>
</div>